{% extends 'base.html.twig' %}

{% block body %}
    <nav>
        <ul>
            <li>Domovská stránka</li>
            <li><a href="{{ path("add_topic") }}">Přidání nového tématu</a></li>
        </ul>
        <ul>
            <li>Domovská stránka</li>
        </ul>
    </nav>
    <h1>Domovská stránka</h1>
{% endblock %}

