{% extends 'base.html.twig' %}

{% block body %}
    <nav>
        <ul>
            <li><a href="{{ path("homepage") }}">Domovská stránka</a></li>
            <li><a href="{{ path("add_topic") }}">Přidání nového tématu</a></li>
        </ul>
        <ul>
            <li>Registrace uživatele</li>
        </ul>
    </nav>
    <h1>Registrace uživatele</h1>
    {{ form(form) }}
{% endblock %}

